<div class="container">
    <div class="select-value">
        <div class="select-item">
            <label for="cur1">Оберіть валюту:</label>
            <select name="value" id="cur1" [(ngModel)]="cur1" (ngModelChange)="convertValue()">
                <option *ngFor="let option of options" [value]="option.value">{{option.value}}</option>
            </select>
            <input class="cur_input" type="number" [(ngModel)]="numInp1" (ngModelChange)="convertValue()">
        </div>
        <div class="select-item">
            <label for="cur2">Оберіть валюту:</label>
            <select name="value" id="cur2" [(ngModel)]="cur2" (ngModelChange)="convertValue()">
                <option *ngFor="let option of options" [value]="option.value">{{option.value}}</option>
            </select>
            <input class="cur_input" type="number" [(ngModel)]="numInp2" (ngModelChange)="inputValue()">
        </div>
    </div>
</div>